@page
@model WiredBrainCoffee.WebApp.Pages.DemoSiteInfoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoSiteInfo</title>
</head>
<body>
    <p>DemoSiteInfo-20210605</p>
</body>
</html>
