@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<hr />
<br />
<br />


<p>This site is for demonstration purposes only.&nbsp;  Data collected, IP addresses, page visits and breakdowns are only used for improving the site performance and address any possible bugs.&nbsp;  Data collected is neither shared nor sold.</p>

<br />
<br />
<br />
<br />

<p>
    The site was original designed and built by
    <a href="https://www.thomasclaudiushuber.com/" target="_blank">Thomas Claudius Huber</a>
    as part of the training and practice of his <a target="_blank" href="https://app.pluralsight.com/library/courses/microsoft-azure-blob-storage-implementing/table-of-contents">Microsoft Azure Developer: Implementing Blob Storage</a> course offered on
    <a href="https://app.pluralsight.com/" target="_blank">Plurasight</a>.


    <br />
    <br />
    <br />
    <br />
